body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #464873;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

header h1 {
    font-size: 5rem;
    margin: 0;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

header h5 {
    font-size: 1.5rem;
    color: white;
}

main {
    padding: 1rem;
}

.search-container {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

#search,
#filter-city {
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-user-button {
    background-color: #A61F69;
    color: #fff;
}

#clear-button {
    background-color: #272D40;
    color: #fff;
}

.hidden {
    display: none;
}

#user-list {
    list-style: none;
    padding: 0;
}

.user-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.cab span {
    display: block;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: opacity 0.3s ease;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin: 30px;
}

/* Floating Label */
.floating-label {
    position: relative;
    margin-bottom: 30px;
    margin-top: 45px;
}

.floating-label input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.floating-label label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.floating-label input:focus+label,
.floating-label input:not(:placeholder-shown)+label {
    top: -15px;
    font-size: 16px;
    color: #333;
}

.submit-button {
    background-color: #A61F69;
    color: #fff;
}

.close-button {
    background-color: #272D40;
    color: #fff;
}

.close-button,
.submit-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button {
    background-color: #272D40;
    color: #fff;
}

@media (max-width: 768px) {
    header {
        background: #464873;
    }

    .search-container {
        flex-direction: column;
    }

    #search,
    #filter-city {
        border-radius: 5px;
        height: 30px;
    }

    .user-card {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .modal-content {
        width: 100%;
        max-width: 300px;
    }
}